@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row; 
    }

    .data, .control {
        width: 50%;
    }

    .room {
        font-size: 70px;
    }

    .usage {
        font-size: 40px;
    }

    .pwr-usage .unit {
        font-size: 20px;
    }
}