.chart {
    margin-top: 30px;
    margin-bottom: 30px;
}

.table {
    margin-top: 30px;
}

body {
    overflow-x: hidden;
}

#page-content-wrapper {
    min-width: 100vw;
}

body {
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.container-fluid .row {
    padding: 0 0 4em 0;
}